@font-face {
    font-family: roboto;
    src: url(../Roboto_Condensed/static/RobotoCondensed-Light.ttf);
}
@font-face {
    font-family: merriweather;
    src: url(../Merriweather/Merriweather-Bold.ttf);
}
@font-face {
    font-family: merri;
    src: url(../Merriweather/Merriweather-LightItalic.ttf);
}
@font-face {
    font-family: bold;
    src: url(../Roboto_Condensed/static/RobotoCondensed-Bold.ttf);
}
*{
    font-family: roboto;
    margin: 0px;
    padding: 0cqw;
}


/* nav_bar */
.nav{
/* background-color: blueviolet; */
box-shadow: 0px 10px 20px rgb(0,0,0,0.1)
}
.nav_logo{
    height:90px ;
    width:150px ;
    margin-left: 100px;
    margin-top: 10px;
}
.nav_items{
    float: right;

}
.nav_bar{
    display: inline-block;
}
.nav_items li{
    display: inline-block;
    padding-top: 40px;
    padding-right: 30px;
}
.nav_items li a{
    text-decoration: none;
    color: black;
}
.nav_items:last-child{
    margin-right: 80px;

}
.nav-itemhover a:hover{
    color: red;
}
.nav-itemhover a:visited{
    
    border-color: blue;
}
.cart_noti{
    position: relative;
    top: -17px;
    left: -8px;
    background-color: red;
    padding: 4px;
    border-radius: 50%;
}
.nav_items li a:active{
    text-decoration: underline;
    color: #E51514;
}
  
/* nav bar end */

/* start bunner */
.bunner_image{
    width: 100%;
}
.carousel_text{
    position: absolute;
    top: 200px;
    left: 100px;
    background-color: rgb(0,0,0,0.3);
    padding: 40px;
    color: white;
}
.carousel_text h2{
    color:white;
    margin-bottom: 15px;
}
.carousel_text button{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    color:white;
    background-color: red;
    border: 1px solid red;
    font-size: 16px;
}
.carousel_text button:hover{
    background-color:white;
    color: red;
}
/* bunner end */

/* service start */
.service{
    display: grid;
    grid-template-columns:auto auto auto auto;
    grid-column-gap: 20px;
    margin: 20px 100px;
    
}
.service_text{
    display: inline-block;
    padding-left: 8px;
}
.service_item{
    border: solid rgb(223, 211, 211);
    padding: 10px 10px;
    border-radius: 5px;
}
.service_text span{
    font-size: 10px;
}
.t2{
    color: rgb(192, 176, 176);
}
.t1{
    font-weight: bold;
}
/* service end */

/* promotion start */
.pro_margin{
    margin-left: 100px;
    margin-top: 60px;
}
.divider{
  width: 80px;
  margin-left: 100px;
  border: 2px solid red;
  margin-top: 10px;
}
.promo_main{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0px 100px;
    grid-column-gap: 20px;
}
.promo_image{
    width: 100%;
}
.promo_item{
    border: 1px solid rgb(200, 187, 187);
    border-radius: 7px;
    position: relative;
}
.promotion_price{
    position: absolute;
    right: 1px;
    top: 5px;
}
.price1{
    font-size: 13px;
    border: solid 1px ;
    border-radius: 5px;
    background-color: red;
    color: white;
    padding: 3px;
}
.price2{
    font-size: 12px;
    margin-left: -3px;
    text-decoration: line-through;
    color: red;
}
.promo_item p:last-child{
    text-align: center;
    padding-bottom: 13px;
}
/* promotion end */

/* new arrival start */
.arrival_item{
    position: relative;
    border: 1px solid rgb(200, 187, 187);
    border-radius: 7px;
    padding: 0px 10px;

}
.arrival_detail{
    position: absolute;
    top: 45%;
    left: 35%;
    opacity: 0;
}
.arrival_main{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 15px 100px;
    grid-column-gap: 20px;
}
.arrival_img{
    width: 100%;
}
.heart{
    float: right;
}
.arrival_price{
    display: inline-block;
    margin-bottom: 10px;
}
.arrival_item:hover .arrival_detail{
    opacity: 1;
}
.arrival_detail a{
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
    color: red;
    background-color: white;
}
.arrival_detail a:hover{
    background-color: red;
    color: white;
}
.arrival_item img:hover{
    opacity: .4;
}
/* new arrival end */

/* subscribe form start */
.form_text{
    display: inline-block;
}
.form{
    background-color: #E51514;
    padding: 60px 200px;
}
.form_image{
    width: 300px;
    height: 150px;
    float: right;
    
}
.form_text h2{
    margin-bottom: 12px;
}
.form_text h2,.form_text p,button{
    color: white;
}
.form_text input{
    width: 320px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 0px ;
}
.form_text button{
    margin-left: -20px;
    background-color: #019A68;
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
    border: 0pc;
}
/* subscribe form end */

/* news_start */

.news_main{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    margin: 10px 100px;
}
.news_main img{
    width: 100%;
    
}
.news_item{
    border: 1px solid rgb(186, 167, 167);
    border-radius: 5px;
}
.news_item h3{
    padding: 10px 0px 10px 10px;
}
.text_1{
    padding: 0px 0px 10px 10px;
    size: 1px;
    font-style: italic;
    color: rgb(117, 105, 105);
}
.text_2{
    padding: 10px 0px 10px 10px;
}
.readrr{
    float: right;
    border: 2px solid blue;
    padding: 8px;
    border-radius: 7px;
    color: blue;
    text-decoration: none;
    margin: 10px 10px 10px 0px;
}
.news_item img:hover{
    transform: scaleX(1.2);
    
}
.hoverimg{
    overflow: hidden;
    display: inline-block;
}



/* latest news end */

.bottom_main{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: black;
    color: white;
    padding: 60px 10px 60px 70px;
    margin-top: 40px;
}
.bottom_line{
    border: 2px solid red;
    margin-top: 10px;
    width: 80px;
}
.bottom_1 p{
    margin: 20px 0px;
}
.bottom_2 a{
    display: block;
    margin:0px 0px 30px 40px;
    color: white;
    text-decoration: none;
}
.bottom_3 a{
    display: block;
    margin:0px 40px 30px;
    color: white;
    text-decoration: none;
}
.bottom_4 div p{
    display: inline-block;
}
.bottom_4 div{
    
    margin:0px 40px 30px;
    color: white;
    text-decoration: none;
}
.last_div a{
    margin-right: 20px;
    color: white;
    text-decoration: none;
}
.bottom_1{
    margin-top:-20px ;
}
/* index. html end */

/* about.html start */

.abouttitle h1,.abouttitle p{
    text-align: center;
    margin: 30px 0px;
}
.abouttitle h1{
    font-size: 64px;
    font-weight: lighter;
}
.abouttitle p{
    font-size: 16px;
    line-height: 22px;
    word-spacing: 3px;
}
.abouttitle hr{
    margin: 0px 150px;
}
.founder{
    display: grid;
    grid-template-columns:auto auto auto;
    grid-column-gap: 20px;
    margin: 20px 100px;

}
.founder1 img:hover{
    transform: scale(1.3);
    transition: 1.8s;
}

.founder div a img{
    width: 100%;
    height: 600px;

}
.hoverhide{
    overflow: hidden;
    display: inline-block;
}
.founder a {
    text-decoration: none;
    color: black;
}
.partner{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-column-gap: 20px;
    margin: 20px 100px 40px;
}
.partner div img{
    width: 100%;
}
/* about .html end */

/* product .html start */
/* filter nav start */

.filternav{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 200px;
    margin: 0px ;
    background-color: white;
    border: 1px solid rgb(37, 34, 34);
    padding: 20px 20px;
}
.filteritem2{
    text-align: center;
}
.filteritem3{
    text-align: right;
}
.filternav button{
    color: black;
    background-color: white;
    border: none;
}
.express h1,.express p{
    text-align: center;
    margin: 40px;
}
/* filter end */

/* body start */
.body{
    display: grid;
    grid-template-columns: 340px auto;  
    margin-bottom: 60px; 
    border-bottom: 0.2px solid  rgb(196, 192, 192);
}
.body1{
    margin: 1px;
    padding: 5px;
    border-top: 0.3px solid black;
    border-right: 10px solid rgb(231, 226, 226);
    height:400px;
    margin-left: 10px;

}
.bodyitem{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 20px 8px 20px 8px;
}
.faint span{
    color: rgb(150, 150, 150);
}
.bodyitem span{
    font-family: bold;
}
.body1 hr{
    margin-left: 8px;
}

.bodyitem a{
    color: rgb(87, 86, 86);
}
.body_img{
    width: 2.1in;
    height: 200px;
}
.body2{
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-column-gap:10px ;
    grid-row-gap:10px ;
    margin: 10px 0px 5px 8px;
    
    
}
.bodydetail{
    position: absolute;
    top: 4%;
    right:4%

}
.body2item{
    position: relative;
    background-color: rgb(245, 242, 242);
}
.bodydetail2{
    position: absolute;
    bottom: 20%;
    right:4%
}
.bodydetail3{
    opacity: 0;

}
.price p{
    padding-top: 10px;
    padding-left: 10px;
    display: inline-block;
    font-weight: bolder;
    font-size: smaller;
    padding-bottom: 30px;
}
.price p:last-child{
    padding-left: 60px;
}
.bodydetail3 img{
    position: absolute;
    top: 0%;
    background-color:rgb(245, 242, 242) ;
}
.body2item:hover .bodydetail3{
    opacity: 1;
}
.showmore{
    border: 0.8px solid black;
    padding: 12px 170px;
    color: black;
    margin: 70px 30px 30px 250px;
    background-color: white;
}
.bodydetail3 div a{
    border: 1px solid red;
    padding: 3px;
    border-radius: 5px;
    color: red;
    background-color: white;
}
.bodydetail3 a:hover{
    background-color: red;
    color: white;
}
/* body end */

/* subscribe product */
.subscribe1 h4{
    text-align: center;
    font-family: merriweather;

}
.subscribe1 h4:last-child{
    text-align: center;
    margin: 20px 0px;
    font-family: merri;
    font-size: small;
}
.sub2 input{
    border: 1px solid rgb(141, 140, 140);
    width: 400px;
    padding: 15px;
    border-radius: 20px;
    margin: 20px;
    
}
.sub2{
    text-align: center;
    position: relative;
}
.sub2 span{
    position: absolute;
    top: 2%;
    right: 30%;
}
.sub2 button{
    background-color: white;
    color: rgb(134, 133, 133);
    border: none;
    font-size: larger;
    margin-left: -60px;
    margin-bottom: -30px;
    
}
/* subscribe end */

/* product end */

/* contact\รท start */

/* contact body start */
.contactbody img{
    width: 100%;
    height: auto;
    
}
.contactbody h1{
    font-size: 100px;
    color: rgb(226, 39, 39);
    position: absolute;
    top: 47%;
    right: 30%;
    background-color: rgb(243, 236, 236);
    border-radius: 70px;
    padding: 10px 30px;
    
}
.contactbody{
    position: relative;
}
.contacttext{
    margin: 20px 0px 50px 40px;
}
.contactcountry select{
    width: 400px;
    border: 1px solid #eae8e4;
    border-radius: 4px;
    height:48px ;
    padding: 10px 20px;
    margin-left: 40px;
}
/* contactcontent */
.contactcontent{
    display: grid;
    grid-template-columns: 6.2in 6.2in;
    margin: 20px 40px ;
    grid-column-gap:5px ;
}
.back{
    background-color: #F6F5F3;

}
.colorwhite{
    background-color: rgba(255, 255, 255, 0.596);
}
.content1 h2,.content1 p{
    margin: 20px 30px ;
}
.content1{
    background-color: white;
}
.content1 ul{
    margin: 20px 70px;
}
.content1 button{
    background-color: white;
    color: black;
    border: 1px solid;
    font-size: 20px;
    padding: 20px 190px;
    align-items: center;
    border-radius: 70px;
    margin: 20px 0px 50px 29px;

}
.content2{
    background-color: white;
}
.content2 h2,.content2 p{
    margin: 20px 30px;
}
.content2 button{
    background-color: white;
    color: black;
    border: 1px solid;
    font-size: 20px;
    padding: 20px 200px;
    align-items: center;
    border-radius: 70px;
    margin: 78px 0px 50px 29px;
}
/* contact content end */

/* answer and question */
.question1{
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px 30px 30px 29px ;
}
.questionbody{
    background-color: white;
    margin: 20px 40px;
    padding: 40px 0px 20px 0px;
    
}
.search1 a{
    
    margin-right: -4px;
    padding: 4.9px;
    margin-left: 400px;
    
}
.search1 input{
    border: none;
    padding: 6px;
    font-size: 20px;
    text-decoration:none;
}
.question2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:1rem ;
    padding: 30px 0px 0px 29px;
    grid-row-gap: 1rem;
}
.question2 a{
    color: black;
    text-decoration:none;
}
.more1 button{
    background-color: white;
    color: black;
    padding: 20px 230px;
    font-size: 20px;
    border-radius: 90px;
    margin-top: 50px;
    margin-left: 300px;
    margin-bottom: 60px;
}